<section>
	<div class="header-bottom">
		<div class="container">
			<div class="row">
				<div class="col-sm">
					<div class="search_box pull-right">
						<input type="text" placeholder="Search" ng-model="search" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<h2 class="title text-center">Journals</h2>
			<div class="row vertical-align">
				<div class="col-sm-7"
					data-ng-repeat="journal in journals | filter: search">
					<div class="row">
						<div class="text-left">
							<label class="checkbox"> <input type="checkbox"
								ng-checked="checkedFruits.indexOf(journal) != -1"
								ng-click="toggleCheck(journal)"> {{journal.name}}
							</label>
						</div>
					</div>
				</div>
				<div class="col-sm-2"
					style="display: flex; align-items: center; justify-content: center; flex-direction: row;">
					<div class="text-left">
						<button type="button" class="btn btn-info btn-lg"
							ng-disabled="checkedFruits.length < 1" data-toggle="modal"
							data-target="#myModal">I want to subscribe!</button>
					</div>
				</div>

			</div>

			<div style="clear: both; display: block">
				<ul class="pagination">
					<li class="active"><a href="">1</a></li>
					<li><a href="">2</a></li>
					<li><a href="">3</a></li>
					<li><a href="">&raquo;</a></li>
				</ul>
				<pagination total-items="totalItems" items-per-page="itemsPerPage"
					ng-model="currentPage" ng-change="pageChanged()"></pagination>
			</div>
		</div>
	</div>
	<!-- Modal -->
	<div id="myModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Do you want to subscribe?</h4>
				</div>
				<div class="modal-body">
					<div class="container" ng-show="!showDiv">
						<p>Would you like to subscribe to {{checkedFruits.length}}
							journals?</p>
					</div>
					<div class="container" ng-show="showDiv">
						<p>Please indicate the e-mail that will be linked to this
							subscription</p>
						<div class="col-sm-4">
							<div class="login-form">
								<form name="form">
									<input name="givenName" type="text" placeholder="Given Name"
										ng-model="signupData.givenName" required /> <input
										name="familyName" type="text" placeholder="Family Name"
										ng-model="signupData.familyName" required /> <input
										type="email" placeholder="Email" ng-model="signupData.email"
										required /> 
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div ng-show="!showDiv" class="col-sm-2">
						<button type="button" class="btn btn-info"
							ng-click="showDiv = !showDiv">Sure</button>
					</div>
					<div ng-show="showDiv" class="col-sm-2">
						<button type="button" class="btn btn-success"
							ng-click="publicSignUp()" ng-disabled="form.$invalid">Ready!</button>
					</div>
					<div class="col-sm-2">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>