{{error}} {{mensaje}}

<section id="form">
	<!--form-->
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-sm-offset-1">
				<div class="login-form">
					<!--login form-->
					<h2>Register Now</h2>
					<form name="form">
						<input name="givenName" type="text" placeholder="Given Name"
							ng-model="signupData.givenName" required /> <input
							name="familyName" type="text" placeholder="Family Name"
							ng-model="signupData.familyName" required /> <input type="email"
							placeholder="Email" ng-model="signupData.email" required /> <input
							type="password" placeholder="Password"
							ng-model="signupData.password" required />
						<button type="button" class="btn btn-default"
							ng-click="publisherSignUp()" ng-disabled="form.$invalid">Register</button>
					</form>
				</div>
				<!--/login form-->
			</div>
		</div>
	</div>
</section>